html,
body,
#root {
  display: flex;
  flex: 1;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex: 1;
}

.main {
  display: flex;
  flex: 1;
  padding: 40px;
}

.table {
  border-collapse: separate;
  border-spacing: 8px;
}

.cell {
  position: relative;
  height: 60px;
  width: 160px;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
}

.cell-head {
  background-color: aqua;
}

.cell-content {
  background-color: aliceblue;
}

.cell-root {
  background-color: burlywood;
}

.cell-angle {
  background-color: cornsilk;
}

.cell-sys-event {
  background-color: coral;
}
